body {
}

.img {
  width: 200px;
  height: 200px;
  float: center;
}

#ruby, #css, #java {
  display: none;

}

.jumbotron {
background-color: pink;}

.btn {
background-color: pink;
margin-left: 400px;
margin-bottom: 50px;}

#userName {
  margin-left: 400px;
  margin-bottom: 50px;
  width: 400px;

}

#result {
text-align: center;}
